
<div *ngIf="melodyEntity">
    <h2><span>Melody Entity</span> {{melodyEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{melodyEntity.name}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{melodyEntity.content}}</span>
        </dd>
        <input type="button" value="Play" id="btn" size="30" (click)="download()">

        <dt><span>Created Date Time</span></dt>
        <dd>
            <span>{{melodyEntity.createdDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Profile</span></dt>
        <dd>
            <div *ngIf="melodyEntity.profileId">
                <a [routerLink]="['/profile', melodyEntity.profileId]">{{melodyEntity.profileId}}</a>
            </div>
        </dd>
        <dt><span>Path</span></dt>
        <dd>
            <span>{{melodyEntity.path}}</span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'melody-entity/'+ melodyEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
