<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">

            <div class="col-md-12 canvassed">
                <canvas id="can"
                        (mouseup)="mouseUpEvent($event)"
                        (mousedown)="mouseDownEvent($event)"
                        (mousemove)="mouseMoveEvent($event)"
                        (mouseout)="mouseOutEvent($event)"></canvas>
            </div>
            <div class="col-md-12">
                <div class="row canvassed">
                    <div class="col-md-3"><div>Choose Color: </div></div>
                    <div class="col-md-9">
                        <div class="color" id="blue"
                         (click)="color($event)"></div>
                        <div class="color" id="green"
                         (click)="color($event)"></div>
                        <div class="color" id="yellow"
                         (click)="color($event)"></div>
                        <div class="color" id="orange"
                         (click)="color($event)"></div>
                        <div class="color" id="red"
                         (click)="color($event)"></div>
                        <div class="color" id="purple"
                         (click)="color($event)"></div>
                        <div class="color" id="brown"
                         (click)="color($event)"></div>
                        <div class="color" id="darkgray"
                         (click)="color($event)"></div>
                        <div class="color" id="black"
                             (click)="color($event)"></div>
                    </div>
                </div>
                <div class="row canvassed">
                    <div class="col-md-3"><div>Eraser: </div></div>
                    <div class="col-md-9">
                        <div class="color" id="white"
                             (click)="color($event)"></div></div>
                </div>
                <div class="row">
                    <div class="padded"><input class="color-extended" type="button" value="Play" id="btn" size="30" (click)="save()"></div>
                    <div class="padded"><input class="color-extended" type="button" value="Save" id="save_btn" size="30" (click)="saveInDB()"></div>
                    <div class="padded"><input class="color-extended" type="button" value="Clear" id="clr" size="23" (click)="erase()"></div>
                </div>
                <!--<img id="canvasimg" style="border: solid black 1px;"/>-->

            </div>
        </div>
    </div>
</div>
