<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">

            <div class="col-md-12">
                <canvas id="can"
                        style="border: solid black 1px;"
                        (mouseup)="mouseUpEvent($event)"
                        (mousedown)="mouseDownEvent($event)"
                        (mousemove)="mouseMoveEvent($event)"
                        (mouseout)="mouseOutEvent($event)"></canvas>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div>Choose Color: </div>
                    <div style="width:20px;height:20px;background:green;" id="green"
                         (click)="color($event)"></div>
                    <div style="width:20px;height:20px;background:blue;" id="blue"
                         (click)="color($event)"></div>
                    <div style="width:20px;height:20px;background:red;" id="red"
                         (click)="color($event)"></div>
                    <div style="width:20px;height:20px;background:yellow;" id="yellow"
                         (click)="color($event)"></div>
                    <div style="width:20px;height:20px;background:orange;" id="orange"
                         (click)="color($event)"></div>
                    <div style="width:20px;height:20px;background:black;" id="black"
                         (click)="color($event)"></div>
                </div>
                <div class="row">
                    <div>Eraser</div>
                    <div style="width:20px;height:20px;background:white;border:2px solid;"
                         id="white" (click)="color($event)"></div>
                </div>
                <div class="row">
                    <input type="button" value="Play" id="btn" size="30" (click)="save()">
                    <input type="button" value="Save" id="save_btn" size="30" (click)="saveInDB()">
                    <input type="button" value="Clear" id="clr" size="23" (click)="erase()">
                </div>
                <!--<img id="canvasimg" style="border: solid black 1px;"/>-->

            </div>
        </div>
    </div>
</div>
